{% extends 'blog/base.html' %} {% block content %}
<div class="row">
  <div class="col-md-4">
    <div class="card">
      <img
        src="https://picsum.photos/500/500"
        class="card-img-top"
        alt="Foto de Perfil"
      />
      <div class="card-body">
        <h5 class="card-title">Tu Nombre</h5>
        <p class="card-text">Información adicional sobre ti.</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <strong>Correo Electrónico:</strong> tu@email.com
        </li>
        <li class="list-group-item"><strong>Teléfono:</strong> 123-456-7890</li>
        <!-- Agrega más información según sea necesario -->
      </ul>
      <div class="d-grid p-3">
        <button class="btn btn-danger">Cerrar sesión</button>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <h2>Mi Cuenta</h2>
    <table class="table">
      <tbody>
        <tr>
          <th scope="row">Nombre:</th>
          <td>Tu Nombre</td>
        </tr>
        <tr>
          <th scope="row">Correo Electrónico:</th>
          <td>tu@email.com</td>
        </tr>
        <tr>
          <th scope="row">Teléfono:</th>
          <td>123-456-7890</td>
        </tr>
        <!-- Agrega más filas según sea necesario -->
      </tbody>
    </table>
  </div>
</div>
{% endblock content %}
