{% extends 'blog/base.html' %} {% block content %}
<div class="row">
  <div class="col-md-4">
    <div class="card">
      <img
        src="https://picsum.photos/500/500"
        class="card-img-top"
        alt="Foto de Perfil"
      />
      <div class="card-body">
        <h5 class="card-title">Tu Nombre</h5>
        <p class="card-text">Información adicional sobre ti.</p>
      </div>

      <ul class="list-group list-group-flush">
        <li class="list-group-item"><strong>Publicaciones:</strong> 100</li>
        <li class="list-group-item">
          <strong>Última publicación:</strong> hace un día
        </li>
        <!-- Agrega más información según sea necesario -->
      </ul>
    </div>
  </div>
  <div class="col-md-8">
    <div class="grid gap-3 card p-4">
      <div class="p-2 g-col-12">
        <div class="card">
          <img
            src="https://picsum.photos/1280/720"
            class="card-img-top"
            style="object-fit: contain; height: 400px"
            alt="Imagen de publicación"
          />
          <div class="card-body">
            <h5 class="card-title">Título</h5>
            <p class="card-text">Esta es la descripción de la publicación.</p>
            <a href="#" class="btn btn-primary">Ir a la publicación</a>
          </div>
        </div>
      </div>
      <div class="p-2 g-col-12">
        <div class="card">
          <img
            src="https://picsum.photos/1280/720"
            class="card-img-top"
            style="object-fit: contain; height: 400px"
            alt="Imagen de publicación"
          />
          <div class="card-body">
            <h5 class="card-title">Título</h5>
            <p class="card-text">Esta es la descripción de la publicación.</p>
            <a href="#" class="btn btn-primary">Ir a la publicación</a>
          </div>
        </div>
      </div>
      <div class="p-2 g-col-12">
        <div class="card">
          <img
            src="https://picsum.photos/1280/720"
            class="card-img-top"
            style="object-fit: contain; height: 400px"
            alt="Imagen de publicación"
          />
          <div class="card-body">
            <h5 class="card-title">Título</h5>
            <p class="card-text">Esta es la descripción de la publicación.</p>
            <a href="#" class="btn btn-primary">Ir a la publicación</a>
          </div>
        </div>
      </div>
      <div class="p-2 g-col-12">
        <div class="card">
          <img
            src="https://picsum.photos/1280/720"
            class="card-img-top"
            style="object-fit: contain; height: 400px"
            alt="Imagen de publicación"
          />
          <div class="card-body">
            <h5 class="card-title">Título</h5>
            <p class="card-text">Esta es la descripción de la publicación.</p>
            <a href="#" class="btn btn-primary">Ir a la publicación</a>
          </div>
        </div>
      </div>
      <div class="p-2 g-col-12">
        <div class="card">
          <img
            src="https://picsum.photos/1280/720"
            class="card-img-top"
            style="object-fit: contain; height: 400px"
            alt="Imagen de publicación"
          />
          <div class="card-body">
            <h5 class="card-title">Título</h5>
            <p class="card-text">Esta es la descripción de la publicación.</p>
            <a href="#" class="btn btn-primary">Ir a la publicación</a>
          </div>
        </div>
      </div>
      <div class="p-2 g-col-12">
        <div class="card">
          <img
            src="https://picsum.photos/1280/720"
            class="card-img-top"
            style="object-fit: contain; height: 400px"
            alt="Imagen de publicación"
          />
          <div class="card-body">
            <h5 class="card-title">Título</h5>
            <p class="card-text">Esta es la descripción de la publicación.</p>
            <a href="#" class="btn btn-primary">Ir a la publicación</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
